:root{
    font-size: 62.5%; /*10px*/

    --brand-color:#065E7C;
    --bg-color: #fff;
    --plataform-aliases: #202024;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Mulish', sans-serif;
}

#app  {
    display: grid;
    grid-template-rows: max-content 1fr max-content; /*header tamanho do conteudo dele, main com 1fr, footer com tamanho do conteudo dele*/

    height: 100vh;
    
    
}

.container{
    padding: 1.6rem 2.25rem;

}

.page{
    display: grid;

    -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/*header*/

header{
    display: flex;
    align-items: center;
    gap: 2.5rem;

    background-color: var(--brand-color);

}

header img{
    cursor: pointer;
}

header form {
    flex: 1;
}

.input-wrapper input{
    width: 100%;
    
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    
    
    border: none;
    border-radius: .4rem;
    background: rgba(255, 255, 255, 0.20);

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 100%;

    color: var(--bg-color);
 
}

.input-wrapper input::placeholder{
    color: var(--bg-color);
    opacity: .6;
}

.input-wrapper label{
    width: 1px;
    height: 1px;

    position: absolute;
    overflow: hidden;
}

/*conteúdo*/

main{
    display: flex;
    flex-direction: column;

    
}

main img {
    width: 100%;

    margin-bottom: 1.6rem;
}

.title{
    display: grid;
    gap: .8rem;

    margin-bottom: 4.3rem;

    
}

.title h1{
    color: var(--plataform-aliases);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%;
}

.avaliation{
    display: flex;
    gap: 1rem;

    width: 4rem;

    cursor: pointer;

}


/*texto body*/

.text{
    color: #121214;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}


/*artigos relacionados*/

aside{
    margin-bottom: 4rem;
}

.articles{
    display: grid;
    row-gap: 3.2rem;
}

.articles h1{
    color: var(--plataform-aliases);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
}


.news{
    display: grid;
    grid-template-columns: 15.1rem 1fr;
    column-gap: 1.6rem;

    align-items: center;

    cursor: pointer;

    transition: all 200ms ease-in;
    
}

.news img{
    transition: all 200ms ease-in;
}

.headline h1{
    color: var(--plataform-aliases);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
}

.headline p{
    color: #121214;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 160%;
}

.news:hover{
    font-weight: 700;
}

.news img:hover{
    filter: hue-rotate(7deg) contrast(101%) saturate(110%);
    transform: scale(1.1) rotate(-2deg);
}

/*footer*/

footer{
    background-color: var(--brand-color);

    padding: 2.6rem 1.6rem;
}

footer p{
    color: var(--bg-color);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

@media (min-width: 1024px){
    body{
        background: #F4FCFF;
    }

    
    
    .page{
        grid-template-columns: 1fr 40rem;
        column-gap: 3.3rem;

        padding: 0 10rem;
        margin-bottom: 4rem;
    }

    .title{
        margin-bottom: 3.2rem;
    }

}

@media (min-width: 1200px){
    .title {
        position: relative;
    }

    .avaliation{
        position: absolute;
        right: 5rem;
    }
}

 @-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  

